<p>Hello,</p>

<p>We received a request to reset your password. Click the link below to choose a new one:</p>

<p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>

<p>This link expires at {{ expiresAt|date('Y-m-d H:i') }} UTC.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
