{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include 'layout/header.html.twig' %}
{% endblock %}

{% block body %}
    <h1>You're logged in</h1>
{% endblock %}
